*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color:#f1f5fe;
  margin: 0;}



input[type="checkbox"]{
display: none;
}


label{
  padding-left: 20px;
}

label::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #008080;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  transition: 0.2s;
  border: solid black 2px;
  border-radius: 50%;
  cursor: pointer;

}
input[type="checkbox"]:checked + label::before{
  background-color: #20B2AA;
  content: '';
  text-align: center;
  background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614517412_147-p-krug-na-belom-fone-165.png');
  width: 26px;
  height: 26px;
  background-size: 100%;
}


input[type="text"]{
  	height: 45px;
    width: 100%;
  	font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    color: black;
    padding-left: 25px;
    margin-bottom: 10px;
  }
input[type="text"]:focus{
  outline: none;
  border: 2px solid #c1d9fd;
}

 .form-title{
   color: #008B8B;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   margin-bottom: 38px;

 }




header {
  background: #B0DDDD;
  height: 70px;

}
p {
  color: #008B8B;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 2px;


}
main{
  background: #f1f5fe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg-form {
  opacity: 0;
  position: relative;
  z-index: 2;
  max-width: 415px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(32, 178, 170);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 38px;
  padding-bottom: 38px;
  animation-name: fadeForm;
  animation-duration: .7s;
  animation-timing-function: ease-ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
@keyframes fadeForm {
  0%{
    opacity: 0;
  }
  25%{
    opacity: .25;
  }
  50%{
    opacity: .5;
  }
  75%{
    opacity: .75;
  }
  100%{
    opacity: 1;
  }

}
.form-buttons{
max-width: 570px;
background: #ffffff;

border-radius: 20px;
padding-left: 90px;
padding-right: 0px;
padding-top: 2px;
padding-bottom: 2px;


}
.form-fields{
  margin-bottom: 13px;
}


.button{
  display:block;
  height: 26px;
  background: #008B8B;
  border-radius: 6px;
  border-color: #008080;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;


}

.button:hover{
  background-color: #20B2AA;
}
