*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color:#FFFFF;
  margin: 0;}



input{
  	height: 45px;
    width: 100%;
  	font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    color: #008B8B;
  }


 .form-title{
   color: #30507D;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
 }

header {
  background: #B0DDDD;
  height: 70px;

}
.main {
  max-width: 415px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(32, 178, 170);
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 829px;
}
footer {
  background: #DCCEC8;
  height: 70px;
}
.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  background: #FFD0AB;
  height: 100%;
}
